/* #menu{
    -fx-background-image: url("/pictures/Background.jpg");
    -fx-background-repeat: stretch;   
    -fx-background-size: 1500 1000;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0); 
}
*/
